/* Wexford (Gruvbox) Theme */
html[data-theme="wexford"] {
  --background: #f8eec9;
  --foreground: #4f4b45;
  --card: #e8dcb6;
  --card-foreground: #4f4a44;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #ad3b14;
  --primary-foreground: #f2deb5;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #e8dcb6;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e7000b;
  --destructive-foreground: #e7000b;
  --border: #e8dfb9;
  --input: #e8dfb9;
  --ring: #ad3b14;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --sidebar: #e8dcb6;
  --sidebar-foreground: #4f4a44;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #e7deb8;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

html[data-theme="wexford"].dark {
  --background: #282828;
  --foreground: #d8c8a4;
  --card: #31302e;
  --card-foreground: #d6c6a2;
  --popover: #0a0a0a;
  --popover-foreground: #d8c8a4;
  --primary: #fc802d;
  --primary-foreground: #262626;
  --secondary: #262626;
  --secondary-foreground: #d8c8a4;
  --muted: #32302f;
  --muted-foreground: #978e77;
  --accent: #32302f;
  --accent-foreground: #d8c8a4;
  --destructive: #82181a;
  --destructive-foreground: #fb2c36;
  --border: #3b3a36;
  --input: #3b3a36;
  --ring: #fc802d;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fe9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --sidebar: #1e2021;
  --sidebar-foreground: #d8c8a4;
  --sidebar-primary: #d8c8a4;
  --sidebar-primary-foreground: #d8c8a4;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #978e77;
  --sidebar-border: #3b3836;
  --sidebar-ring: #525252;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

html[data-theme="wexford"] body,
html[data-theme="wexford"] .font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

html[data-theme="wexford"] h1 {
  color: #E8B547;
  font-weight: bold;
}


html[data-theme="wexford"] h2 {
  color: #BC3826;
  font-weight: bold;
}

html[data-theme="wexford"] h3 {
  color: #969732;
  font-weight: bold;
}

html[data-theme="wexford"] h4 {
  color: #729C6E;
  font-weight: bold;
}

html[data-theme="wexford"] h5 {
  color: #558488;
  font-weight: bold;
}